.checkerPiece {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -7px;
	border: solid thin #FFFFFF;
} 

.checkerPiece.squarePiece {
	border-radius: 0;
}

.checkerPiece.roundPiece {
	border-radius: 50%;
}

.redPiece {
	background-color: red;
}

.blackPiece {
	background-color: black;
}

.focused {
	border: solid 3px #FAED27 !important;
}

.checkerPiece.focused {
	margin-top: -9px !important;
	margin-left: -9px !important;
}
